<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="~/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/custom-pre-loader.css" rel="stylesheet">
    <link href="/stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet">
    <link href="/stylesheets/featherlight.min.css" rel="stylesheet">
    <link href="/stylesheets/featherlight.gallery.css" rel="stylesheet">
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="/stylesheets/md_modal.css" rel="stylesheet">
    <link href="/ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Main Template Styles -->
    <link href="/stylesheets/intro-07.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <!-- Main Template Responsive Styles -->
    <link href="/stylesheets/main-responsive.css" rel="stylesheet">
    <!-- Main Template Retina Optimizaton Rules -->
    <link href="/stylesheets/main-retina.css" rel="stylesheet">
    <!-- LESS stylesheet for managing color presets -->
    <!-- LESS stylesheet for managing color presets -->
    <link rel="stylesheet" href="/less/color.css">
    <link rel="stylesheet" href="/less/font.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <!-- Google Web Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,300,500,700%7CCrimson+Text:400italic,600italic' rel='stylesheet' type='text/css'>
   
    <style>  
        .ui-autocomplete {  
            max-height: 100px;  
            overflow-y: auto;  
            z-index: 100000000
        }  
   
    </style> 
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="masthead" class="masthead clearfix">

        <!--
    The class 'both-nav' and 'both-nav-active' is used for navigation color activation when scrolling on the screen. So same code for both
    mobile nav and main nav
     -->
        <!-- Mobile Navigation Starts -->
        <nav class="mobile-nav light-white">
            <div class="mobile-nav-outer-container">
                <div class="menu-section font1">menu</div>
                <div class="trigger-section">
                    <span class="mobile-nav-clicker"><i class="ion-navicon"></i></span>
                </div>
                <div class="clear-float"></div>
            </div>
            <div class="mobile-nav-link-container light-white">
                <ul>
    -->
                    <li><a class="">@Html.ActionLink("MovieHub", "Index", "Home", new { area = "" }, new { @class = "font1 both-nav-active" })</a></li>

                    <li>@Html.ActionLink("Items", "Index", "Products", new { area = "" }, new { @class = "font1 both-nav-active" })</li>
                    <!--
    -->

                    @Html.Partial("_LoginPartial")
                </ul>
                
            </div>
        </nav>
        <!-- Mobile Navigation Ends -->
        <!--Main Navigation Starts -->
        <nav class="main-horizontal-nav top-fixed white">

            <div class="nav-logo">
                <a href="#"><img class="img-responsive" src="/images/logo/2.png" alt="arc" data-no-retina></a>
            </div>
            <div class="nav-tab">
                <ul>
                    <li><a class="font1 both-nav-active" href="#">home</a></li>
                    <!--
    -->
                  
                    <li>@Html.ActionLink("Items", "Index", "Products", new { area = "" }, new { @class = "font1 both-nav-active" })</li>

                    <!--
    -->
                   

                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <div class="clear-float"></div>

        </nav>
        <!-- Navigation Ends -->

    </header>
    
    
    
    




<div class="container body-content">
    @RenderBody()
    <hr/>   
</div>
<section id="footer" class="pad-top-half pad-bottom-half white">
    <!-- inner-section : starts -->
    <section>
        <!-- container : starts -->
        <section class="container">
            <div class="row">
                <article class="col-md-12">
                   
                </article>
            </div>
        </section>
        <!-- container : ends -->
    </section>
    <!-- inner-section : ends -->
</section>
    
    
    

<script src="/javascripts/lib/jquery-2.1.4.min.js"></script>
@Scripts.Render("~/bundles/bootstrap")
<!-- Core JS Libraries -->

<!-- JS Plugins -->
<script src="/javascripts/lib/library-imports.js"></script>

<!-- JS Custom Codes -->
<script src="/javascripts/form-validation.js"></script>
<script src="/javascripts/intro-07.js"></script>
<script src="/javascripts/main.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
