@using System.Runtime.InteropServices
@model MovieHub.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success alert-dismissible fade in">

    <strong>Info!</strong>  Created Successfully.
</div>



<!-- The Modal -->


@Html.Partial("_ModalCreate")



<h2>Items</h2>
<button type="button" style="margin-bottom:10px " class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    New
</button>

<table class="table" id="Products">
    <thead>
    <td>Name</td>
    <td>Category</td>
    <td>Quantity</td>
    <td>UOM</td>
    <td></td>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@Model.ProducsCategories.SingleOrDefault(d => d.Id == product.ProductCategoryId).Name</td>
                <td>@product.Quantity</td>
                <td>@Model.UOMs.SingleOrDefault(d => d.Id == product.UOMId).Name</td>
                <td><a class="deletelink" data-products-Id="@product.Id" data-products-Name="@product.Name">Delete</a> | <a class="editlink" data-products-Id="@product.Id">Edit</a></td>
            </tr>


        }

    </tbody>

</table>

@section scripts
{

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
 
    <script src="~/javascripts/jquery.serializeJSON.js"></script>
    <script src="~/javascripts/FormScripts.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script>
        $(".alert").hide();
        $().ready(function () {

           
            $(".clc").on("click",
                function () {
                   // alert($("#Id").val());
                    var $data = $.formObject($('form'));
                    if (typeof ($("#Id").val()) != 'undefined' && $("#Id").val() != null && parseInt($("#Id").val()) !== 0 ) {
                        creatoredit('PUT', '/api/ProductsApi?id=' + $("#Id").val(), $data);
                    }
                    else {
                        
                        creatoredit('Post', '/api/ProductsApi', $data);
                    }

                }

                );

            $("#Products").DataTable();


            $("#Products").on("click",".deletelink",
                function() {

                    var $id=$(this).attr("data-products-Id");
                    bootbox.confirm("Are you sure you want to delete " + $(this).attr("data-products-Name"), function(result) {

                        $.ajax({
                            contentType: 'application/json',
                            type: "Delete",
                            url: "/api/ProductsApi?id=" + $id,
                            success: function (data, textStatus, jqXHR) {
                               
                                location.reload();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(jqXHR.statusText);
                               
                            }
                        });
                       
                    });

                });

            $("#Products").on("click",".editlink",
                function () {

                    $('#myModal').modal('show');

                    $.ajax({
                        contentType: 'application/json',
                        type: "GET",
                        url: "/api/ProductsApi/" + $(this).attr("data-products-Id"),
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            populateForm($('form'), json2html_name_list(data))
                   
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR.statusText);
                            console.log("wrong");
                        }
                    });


                });

        })
      

        

     
       

    </script>

}
